# Ignore Visual Studio files
.vscode/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.ide

# Ignore build output
bin/
obj/
*bin/

# Ignore NuGet packages
*.nuget.cache
packages/

# Ignore miscellaneous files
*.DS_Store
Thumbs.db
